# Arquivo .gitignore para o projeto TCC

# Ignorar a pasta principal de datasets
datasets/
processed/
# Ignorar pastas de modelos e tokenizers gerados localmente
# Essas pastas são criadas na raiz do projeto pelos scripts
mini_gpt_tokenizer/
mini_gpt_model/
results/
results_lora/
fine_tuned_model/
fine_tuned_model_t5/
training_checkpoints/
tinyllama-local-model/


# Ignorar arquivos de ambiente Python e Javascript, se houver
node_modules/
.env
venv/
__pycache__/
*.pyc

#ignorar jsonObjects
scripts/jsonObjects/

# Ignorar arquivos de sistema
.DS_Store
